

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* from work sans import this font */
body {
    width: 100%;
}
.App{
    min-height: 100vh;
    /* display: flex; */
    background-image: url('./background_img2.jpg');
    /* repeating itself again and again so */
    background-size: cover;
    background-position: center;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}